@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-black text-gray-100;
  }
}

@layer components {
  .gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-blue-500;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}

.scale-102 {
  transform: scale(1.02);
}